<div class="container">

    <div class="bg-text">
        <h1>Nats Grocery Store</h1>
        <h3>Management Application</h3>
    </div>
    <div class="shared-logo-box">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div>
                    <img class="img-fluid" style="padding: 6px 5px 0px 5px;width:100%;" src="assets/images/header/gs.jpg" />
                    <!-- <div>How To Use the ImmPort Shared Data Site?</div> -->
                </div>
            </div>

        </div>
       
    </div>
</div>